<div class="gray description">
  <p>Find, save, and rate your favorite memes</p>
</div>

<div class="search middle">
    <%= image_tag "meemers_#{["taiyaki", "sushi"].sample}.png", class: "px200" %>
  <h1>Meemers</h1>

  <%= form_for :search, html: { class: "search-form" } do |f| %>
    <%= f.text_field :query, placeholder: "Try cats" %>
    <%= button_tag type: 'submit', class: "search-button" do %>
        <i class="fa fa-search"></i>
    <% end %>
  <% end %>
</div>

<div class="gray credits middle lowercase link">
  <p>Dedicated to Dr. Meemersworth <br /> from <a href="https://www.youtube.com/user/simonandmartina">Eat Your Kimchi</p>
</div>